/* * Warna */
:root {
    --gradient1: hsl(6, 100%, 80%);
    --gradient2: hsl(335, 100%, 65%);
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --attribution: hsl(6, 100%, 80%);
}

/* * Typography */
:root {
    --body: 'Raleway', sans-serif;
}

/* * Default Styles */
body {
    background: var(--very-dark-blue) url(../images/bg-desktop.png) fixed bottom no-repeat !important;
    color: var(--white) !important;
    font-family: var(--body) !important;
    font-size: 15px;
}

a {
    text-decoration: none !important;
}

img {
    -webkit-user-drag: none !important;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem;
}

.left,
.right {
    margin: 0 1rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 0.1px var(--very-dark-blue);
    background-color: var(--dark-blue);
}

.left {
    width: 35%;
    display: grid;
    padding: 2rem;
    border-top-right-radius: 50px;
}

.right {
    width: 65%;
    padding: 1rem;
}

.three {
    width: 25.5%;
    height: 3rem;
    margin: 2rem 0.75rem 0 0;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--very-dark-blue);
}

.three:hover {
    filter: brightness(150%);
}

.three:active {
    transform: translateY(10px);
}

.remaining {
    position: relative;
    left: 16rem;
    bottom: 3rem;
    width: fit-content;
    padding: 0.5rem 2rem;
    font-size: small;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--grayish-blue);
}

.bigger {
    font-size: xx-large;
    color: var(--black);
}

.progress {
    border-radius: 50px !important;
    background-color: var(--very-dark-blue) !important;
}

.progress-bar {
    background-image: linear-gradient(90deg, var(--gradient1), var(--gradient2));
}

.size {
    position: relative;
    margin-left: 17.75rem !important;
}

.attribution {
    margin-top: 2%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--attribution) !important;
}

@media only screen and (max-width: 768px) {
    body {
        background: var(--very-dark-blue) url(../images/bg-mobile.png) fixed center no-repeat !important;
        background-size: cover !important;
    }

    .box {
        display: grid;
        place-items: center;
    }

    .left,
    .right {
        margin: 2rem;
    }

    .left {
        width: 100%;
        padding: 2rem;
    }

    .right {
        width: 100%;
        padding: 1rem;
    }

    .three {
        width: 18.5%;
        height: 3.5rem;
        margin: 2rem 1rem 0 0;
    }

    .remaining {
        left: 11.5rem;
    }

    .size {
        position: relative;
        margin-left: 15rem !important;
    }
}