body {
    font-family: 'Inter', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

img{
    opacity: 0.5;
}

strong {
    color: hsl(277, 44%, 45%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 2.5%;
    padding: 7%;
    background-color: hsl(233, 47%, 7%);
}

.box {
    padding: 2%;
    border-radius: 10px;
    background-color: hsl(244, 38%, 16%);
}

.c1,
.c2,
.c3 {
    font-family: 'Lexend Deca', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: black;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}